.bl_hero {
  width: 100%;
  height: auto;
  background: url(../images/bg/bg_hero.png) top center no-repeat;
  background-size: cover;
  height: auto;
  padding: 120px 0 60px 0;

  @include mq(lg) {
    height: 100vh;
    background-attachment: fixed;
  }

  .mainCopy {
    margin: 0;
    font-weight: 700;
    color: $color-base;
    font-size: 32px;

    @include mq(lg) {
      font-size: 48px;
      text-align: left;
    }
  }

  .subCopy {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;

    @include mq(lg) {
      text-align: left;
    }
  }

  .heroImg {
    max-width: 80%;
    text-align: center;
    margin: 80px auto 0;
  }
}
