.bl_backToTopButton {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  color: #fff;
  background: $color-main;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  transition: all 0.4s;

  &:hover {
    color: #fff;
    background: #5adaaf;
    bottom: 18px;
  }

  &:visited {
    color: #fff;
  }
}