@use "../setting/mixin" as m;

.bl_nav {
  padding: 0;

  &.bl_nav__mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
  }

  .nav-link-list {
    display: none;

    @include mq(lg) {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
  }

  a,
  a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 0;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    white-space: nowrap;
    transition: 0.3s;
  }

  .offcanvasSpButton {
    font-size: 24px;
    border: none;
    background: transparent;
  }

  .offcanvas {
    max-width: 300px;
  }
}