.bl_asynmmetricBox {

  .bl_asynmmetricBox_content {
    margin: 40px 20px;

    @include mq(md) {
      padding: 40px;
    }
  }

  .bl_asynmmetricBox_heading {
    font-size: 14px;
    font-weight: 700;
    color: $color-main;
    text-transform: uppercase;
  }

  .bl_asynmmetricBox_title {
    font-size: 24px;
    font-weight: 700;
    color: $color-base;
  }

  .bl_asynmmetricBox_text {
    margin: 15px 0 30px 0;
    line-height: 24px;
  }
}