.bl_swiper {
  .swiper-slide {
    opacity: 0.3;
    transition: all 0.3s;
    padding: 30px;

    &-active {
      opacity: 1;

      @include mq(md) {
        opacity: 0.3;
      }
    }

    &-next {
      opacity: 1;

      @include mq(md) {
        padding: 0px;
      }

      // & + .swiper-slide {}
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: $color-main;
    top: 45%;

    @include mq(md) {
      top: 42%;
    }

    @include mq(lg) {
      top: 43%;
    }

    @include mq(xl) {
      top: 44%;
    }

    @include mq(xxl) {
      top: 45%;
    }
  }

  .swiper-pagination {
    margin-top: 16px;
    position: relative;

    &-bullet {
      width: 12px;
      height: 12px;
      background-color: #fff;
      opacity: 1;
      border: 1px solid $color-main;
    }

    &-bullet-active {
      background-color: $color-main;
    }
  }
}