.hp_maxWidth {

  &__xs {
    max-width: 470px !important;
  }

  &__sm {
    max-width: 540px !important;
  }

  &__md {
    max-width: 720px !important;
  }

  &__lg {
    max-width: 960px !important;
  }

  &__xl {
    max-width: 1140px !important;
  }
}