<%
const faqList = [
  {
    question: 'What is the difference between a website and a web application?',
    answer: 'A website is a collection of web pages that are linked together. A web application is a program that runs on a web server and is accessed through a web browser. A web application can be a website, but a website is not necessarily a web application.'
  },
  {
    question: 'What is the difference between a website and a web application?',
    answer: 'A website is a collection of web pages that are linked together. A web application is a program that runs on a web server and is accessed through a web browser. A web application can be a website, but a website is not necessarily a web application.'
  },
  {
    question: 'What is the difference between a website and a web application?',
    answer: 'A website is a collection of web pages that are linked together. A web application is a program that runs on a web server and is accessed through a web browser. A web application can be a website, but a website is not necessarily a web application.'
  },
]
%>

<ul class="accordion mb-4" id="faqlist">
  <% faqList.map((faq) => { %>
    <li class="accordion-item">
      <p class="accordion-header bg-gray-200 py-2 px-4 cursor-pointer font-medium text-gray-700 border-b-[1px] border-solid border-secondary">
        <%= faq.question %>
      </p>
      <div class="accordion-body bg-white py-2 px-4 text-gray-700">
        <%= faq.answer %>
      </div>
    </li>
  <% }) %>
</ul>