  <a href="#" id="backToTop" class="fixed right-4 bottom-4 z-50 flex items-center justify-center w-8 h-8 rounded-md bg-primary text-white transition-all duration-150 ease-in-outflex hover:text-white hover:-translate-y-1 hover:bg-[#3acd9c]">
    ↑
  </a>