<a href="<%= data.href %>" class="scrollto <%= data.className %> text-white font-bold leading-none py-[16px] px-[40px] rounded-[4px] inline-flex items-center justify-center self-center transition-all duration-75 ">
  <span><%= data.text %> </span>
  <i class="bi bi-arrow-right"></i>
</a>
