<div class="flex items-center">
  <!-- Left Side -->
  <div class="flex-[0_1_50%] flex flex-col justify-center p-4">
    <p class="text-[28px] leading-[32px] mt-[10px] mx-0 mb-4 p-0 font-bold text-secondary md:text-[38px] md:leading-[42px]">Asymmetric Boxes</p>
    <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure et dolores placeat esse corporis facilis quaerat, magnam minima consequatur ea repellat culpa amet. Voluptate ratione quaerat libero neque voluptates ad!</p>
    <div class="text-center aos-init aos-animate lg:text-center" data-aos="fade-up"></div>
  </div>
  <!-- Right Side -->
  <div class="flex-[0_1_50%] flex items-center p-4">
    <img src="../assets/images/img/img_800x600.jpg" class="" alt="" />
  </div>
</div>
