<div class="lg:flex lg:items-center">
  <!-- Left Side -->
  <div class="lg:flex-[0_1_50%] flex flex-col justify-center p-4">
    <div class="aos-init aos-animate" data-aos="fade-up">
      <p class="text-[20px] leading-[30px] mt-[10px] mx-0 mb-4 p-0 font-bold text-secondary md:text-[32px] md:leading-[48px]">
        オンライン新入社員研修に特化した<br>DX人材育成プログラム
      </p>
      <p class="">
        新入社員研修においては、従来の対面式研修では難しいという声が多く聞かれます。<br>
        私たちは、そんなニーズに応えるために、法人向けのオンライン新入社員研修に特化したDX人材育成プログラムを提供しています。研修内容は、幅広い業界に対応し、最新のテクノロジーを活用した使いやすいシステムで提供されます。
      </p>
    </div>
  </div>
  <!-- Right Side -->
  <div class="lg:flex-[0_1_50%] flex items-center p-4">
    <img src="../assets/images/img/img_800x600.jpg" class="" alt="" />
  </div>
</div>
