<footer class="py-[18px] bg-primary border-t border-solid border-[#e1ffe6]">
  <div class="container mx-auto">
    <div class="text-center">
      <p class="text-[14px] mb-0 text-white"> © 2022 [company name]</p>
    </div>
  </div>
  <!-- / .container -->
</footer>