<% 
const heroButtonProps = {
  text: 'Let\'s Go!',
  href: '#about',
  className: 'bg-gradient-main'
}
%>

<div id="hero" class="w-100 h-auto flex items-center pt-[120px] pb-[64px] md:pt-[96px] md:pb-[120px] lg:max-h-[700px]">
  <div class="max-w-7xl px-4 mx-auto">
    <div class="md:flex">
      <!-- ↓ Left Side ↓ -->
      <div class="md:flex-[0_1_50%] md:flex md:flex-col md:justify-center md:pr-[16px]">
        <h1 class="bg-gradient-main clip-text m-0 font-bold aos-init text-[24px] aos-animate md:text-[38px]" data-aos="fade-up">
          DX人材研修をより効果的に<br>より効率的に
        </h1>
        <p class="text-[14px] leading-relaxed mt-[16px] mx-0 mb-0 aos-init aos-animate lg:text-[18px]" data-aos="fade-up" data-aos-delay="400">
          徹底したアフターフォローで、効果的な学習を実現。<br>
          最新のテクノロジーを活用した、使いやすい研修システムで<br class="md:block">あなたのDX人材育成をサポート
        </p>
        <div class="mt-[24px] aos-init aos-animate" data-aos="fade-up" data-aos-delay="1000">
          <%- include('./_button.ejs', {data: heroButtonProps}) %>
        </div>
      </div>
      <!-- ↑ Left Side ↑ -->
      <!-- ↓ Right Side ↓ -->
      <div class="md:flex-[0_1_50%] max-w-[500px] text-center mx-auto mt-[80px]">
        <img src="../assets/images/img/img_hero.jpg" class="" alt="logo" />
      </div>
      <!-- ↑ Right Side ↑ -->
    </div>
  </div>
</div>