<header class="pb-[40px]">
  <p class="text-[18px] leading-none font-bold mb-[12px] md:mb-[24px] uppercase bg-gradient-main clip-text">
    <%= data.mainHeading %>
  </p>
  <h2 class="text-[40px] mt-[10px] mx-0 mb-0 p-0 font-bold text-secondary md:text-[64px] md:leading-[42px]">
    <%= data.subHeading %>
  </h2>
</header>