<% 
  const slides = [
    {
      imageUrl: '../assets/images/img/img_800x600.jpg',
      alt: 'Picture'
    },
    {
      imageUrl: '../assets/images/img/img_800x600.jpg',
      alt: 'Picture'
    },
    {
      imageUrl: '../assets/images/img/img_800x600.jpg',
      alt: 'Picture'
    },
    {
      imageUrl: '../assets/images/img/img_800x600.jpg',
      alt: 'Picture'
    },
    {
      imageUrl: '../assets/images/img/img_800x600.jpg',
      alt: 'Picture'
    },
    {
      imageUrl: '../assets/images/img/img_800x600.jpg',
      alt: 'Picture'
    }
  ]
%>

<div class="swiper">
  <div class="swiper-wrapper">
    <% slides.map((slide) => { %>
      <div class="swiper-slide text-center p-[16px] scale-90 transition-all duration-1000 opacity-30 [&.swiper-slide-next]:opacity-100 md:[&.swiper-slide-next]:scale-100">
        <img src="<%= slide.imageUrl %>" class="" alt="<%= slide.alt %>" />
      </div>
    <% }) %>
  </div>
  <!-- Navigation Button -->
  <div class="swiper-button-prev text-primary font-bold"></div>
  <div class="swiper-button-next text-primary font-bold"></div>
  <!-- / Navigation Button -->
  <!-- Pagination -->
  <div class="swiper-pagination [&>span]:w-[12px] [&>span]:h-[12px] [&>span]:border [&>span]:border-primary [&>span]:bg-white [&>span]:opacity-95 [&>span.swiper-pagination-bullet-active]:bg-primary"></div>
  <!-- / Pagination -->
</div>