<% 
  const aboutSectionHeaderProps = {
    mainHeading: 'About',
    subHeading: 'About Product',
  }
%>

<section id="about" class="">
  <div class="max-w-6xl mx-auto">
    <%- include('../components/_sectonHeader.ejs', {data: aboutSectionHeaderProps}) %>
  </div>
</section>