<% 
  const contactSectionHeaderProps = {
    mainHeading: 'contact',
    subHeading: 'Contact Form',
  }
%>

<section id="contact" class="">
  <div class="max-w-6xl mx-auto">
    <%- include('../components/_sectonHeader.ejs', {data: contactSectionHeaderProps}) %>
    <div class="hp_maxWidth__md mx-auto">
      <!-- <form action="" method="post">
      <input type="email" name="email" placeholder="xxx@mail.com">
      <input type="submit" value="Subscribe">
    </form> -->
    </div>
  </div>
</section>