<% 
const faqSectionHeaderProps = {
  mainHeading: 'F.A.Q',
  subHeading: 'Frequently Asked Questions'
}
%>

<section id="faq" class="pb-[80px] md:pb-[100px]">
  <div class="max-w-6xl mx-auto px-4">
    <%- include('../components/_sectionHeading.ejs', {data: faqSectionHeaderProps} )%>
    <div class="max-w-[720px] mx-auto">
      <%- include('../components/_accordion.ejs')%>
    </div>
  </div>
</section>
