<% const stepSectionHeaderProps={ mainHeading: 'step' , subHeading: 'Step' , } %>

  <section id="step" class="bg-black py-[64px]">
    <div class="max-w-6xl mx-auto aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
      <div class="bg-white max-w-[640px] p-8 mx-auto shadow-lg">
        <%- include('../components/_sectionHeading.ejs', {data: stepSectionHeaderProps}) %>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non maxime, tenetur rerum debitis quod
            inventore. Obcaecati distinctio eveniet sunt enim voluptatem odio corporis blanditiis natus dolores
            voluptate! Nemo, nulla esse!
          </p>
      </div>
    </div>
  </section>